/*
p {
    border: 1px solid;
    width: 250px;
}
#p1 {
    text-align: left;
}
#p2 {
    text-align: center;
}
#p3 {
    text-align: right;
}
*/
/*
img {
    float: left;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
}
div {
    border: 1px solid;
    width: 300px;
}
*/
/*
h1 {
    border: 1px solid;
    background: yellow;
    width: 200px;

    position: fixed;
    position: relative;
    position: sticky;
    position: static;

    top: 0px;

}
*/
#box1 {
    position: relative;
    background-color: lightgray;
    width: 200px;
    height: 200px;
    border: 1px solid;

    top: 200px;
    margin-left: auto;
    margin-right: auto;

}
#box2 {
    position: absolute;
    background-color: gray;
    width: 100px;
    height: 100px;
    border: 1px solid;

    top: 50px;
    left: 50px;
}